<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53F4CB3A1D35D25900EE7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F4CB531D35D25900EE7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F4CB5E1D35D25900EE7C17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
